*{
  box-sizing: border-box;
}

body{
  background-color: #131720;
  font-family: 'sans-serif';
  color:whitesmoke;
}

.icon{
  float: left;
  height: 38px;
  width:35px;
  transform: translateX(13px);
  margin-top: 9px;
  padding: 3px;
  border: none;
  outline: none;
  border-radius: 20px;
}

h3{
  color:white;
}

.topnav{
  overflow: hidden;
  background-color:#131720;
  padding: 10px;
}

.topnav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:1.5rem;
  user-select: none;
}

.topnav .search-container{
  float: right;
  padding: 10px 16px;
}

form{
  background-color: #151f30;
  width: 300px;
  height: 43px;
  border-radius: 20px;
  display:flex;
  align-items: center;
}

.reviews{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1em;
  font-weight: 300;
}

input{
  all: unset;
  font: 15px system-ui;
  color: whitesmoke;
  height: 100%;
  width:100%;
  padding: 6px 9px;
}

.thumbnail{
  height: 350px;
  width: 300px;
  border-radius: 19px;
}

.column{
  float: left;
  width: 25%;
  padding: 10px 10px;
}

.card{
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background-color: #151f30; 
  overflow: hidden;
}

.emoji{
  height: 28px;
  width: 28px;
  padding: 5px;
  text-decoration: none;
}

.card .inputs{
  all: unset;
  font: 15px system-ui;
  color: whitesmoke;
  height: 100%;
  width:100%;
  text-align:center;
  align-items: center;
  padding-top: 3px;
}